<%= bootstrap_form_for(@comment) do |f| %>
<div class="container-fluid">
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-8">
  	<%= f.text_area :content, label:"Commentaire" %>
    <br/>
  	<%= f.submit "Create", class: "btn btn-primary" %>
<% end %>

<div class="container-fluid">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <%= @comments %>
  </div>
</div>
</div>
</div>
</div>
</div>