<h1><%= @post.titre %> </h1>
<p> <%= @post.contenu %> </p>
<img src="<%= link_to(image_tag(@post.image_url, :alt => "alt text", :class => "anyclass"), @post.image_url) %>" class="img-responsive" alt="Responsive image">